name: Deploy to Server

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install musl-tools for linker
        run: sudo apt-get update && sudo apt-get install -y musl-tools

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Add musl target for static linking
        run: rustup target add x86_64-unknown-linux-musl

      - name: Build Release (statis)
        run: cargo build --release --target x86_64-unknown-linux-musl

      - name: Copy binary to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: "target/x86_64-unknown-linux-musl/release/license"
          target: "/home/deploy/license-server"
          strip_components: 3 # strip `/target/x86_../release`

      - name: Restart Service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            mv /home/deploy/license-server/license /home/deploy/license-server/license_new
            chmod +x /home/deploy/license-server/license_new
            mv /home/deploy/license-server/license_new /home/deploy/license-server/license
            sudo systemctl restart license-server
